*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #27374D;
    --primary-color-light: #526D82;
    --secondary-color: #9DB2BF;
    --secondary-color-light: #DDE6ED;
    --heading-color: white
}

body{
    background-color: var(--secondary-color-light);
}

header{
    font-family: "Oswald", sans-serif;
    background-color: var(--primary-color);
    color: var(--heading-color);
    padding: 20px 40px;
    font-size: 40px;
}

header h3{
    text-align: end;
    width: 41%;
    font-weight: 200;
    font-size: 20px;
}


.form-cn{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 45px 40px;
}

.info-box{
    background-color: white;
    height: 75%;
    border-radius: 10px;
    border: 0.5px solid var(--secondary-color);
    padding: 20px;
    font-family: "Oswald", sans-serif;
}

.info-box h2{
    margin-bottom: 20px;
}

.info-box a{
    color: black;
}

.info-img{
    margin-top: 20px;
    width: 100%
}

.my-form{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    gap: 25px;
}

label{
    font-weight: 600;
}

.radio-btn{
    margin: 10px 7px 0px 0px;
}

.radio-option{
    font-weight: 400;
    margin-right: 30px;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 70%;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 25px;
    margin-right: 20px;
}


.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: grab;
    transition: background 1s ease-in-out;
}

output{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--heading-color);
    text-align: center;
    width: 50px;
    padding: 5px 10px;
    border-radius: 2px;
}


.submit-btn{
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    background-color: var(--primary-color);
    color: var(--heading-color);
    padding: 0px 25px;
    border: none;
    outline: none;
    width: fit-content;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}
.submit-btn:hover{
    scale: 1.02;
    box-shadow: 5px 5px 10px 0px var(--primary-color);
}

.result-cn{
    font-family: "Oswald", sans-serif;
    width: 35%;
    margin-inline: 40px;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    display: none;
}

footer{
    margin-top: 200px;
    width: 100%;
    background-color: var(--primary-color);
}

footer p{
    font-family: "Oswald", sans-serif;
    padding: 20px 60px;
    text-align: end;
    color: white;
}