<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Classifier</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>Personality Classifier</h1>
    <form id="PersonalityForm">
        <div class="slider-container">
            <label for="aloneTime">What amount of time do you spent alone in a day?</label>
            <br>
            <input type="range" class="slider" min="0" max="24" id="aloneTime" value="4">
            <output id="outputaloneTime" for="aloneTime" class="sliderOutput">4</output>
        </div>
        <div class="slider-container">
            <label for="spentOutside">What amount of time do you spent outside in a day?</label>
            <br>
            <input type="range" class="slider" min="0" max="24" id="spentOutside" value="2">
            <output id="outputspentOutside" for="spentOutside" class="sliderOutput">2</output>
        </div>
        <div class="slider-container">
            <label for="socialAttendance">How likely are you to attend social events?</label>
            <br>
            <input type="range" class="slider" min="0" max="10" id="socialAttendance" value="5">
            <output id="outputsocialAttendance" for="socialAttendance" class="sliderOutput">5</output>
        </div>
        <div class="slider-container">
            <label for="closeFriends">How many close friends do you have?</label>
            <br>
            <input type="range" class="slider" min="0" max="25" id="closeFriends" value="5">
            <output id="outputcloseFriends" for="closeFriends" class="sliderOutput">5</output>
        </div>
        <div class="slider-container">
            <label for="posts">How often do you post on social media?</label>
            <br>
            <input type="range" class="slider" min="0" max="10" id="posts" value="2">
            <output id="outputposts" for="posts" class="sliderOutput">2</output>
        </div>
        <div class="radio-container">
            <label>Do you often struggle with stage fear?</label>
            <br>
            <input type="radio" id="stage_fear_yes" name="Stage_fear" value="yes" required>
            <label for="stage_fear_yes">Yes</label>
            <input type="radio" id="stage_fear_no" name="Stage_fear" value="no" required>
            <label for="stage_fear_no">No</label>
        </div>
        <div class="radio-container">
            <label>Do you often feel drained after socializing?</label>
            <br>
            <input type="radio" id="drained_after_socializing_yes" name="Drained_after_socializing" value="yes" required>
            <label for="drained_after_socializing_yes">Yes</label>
            <input type="radio" id="drained_after_socializing_no" name="Drained_after_socializing" value="no" required>
            <label for="drained_after_socializing_no">No</label>
        </div>

        <input type="submit">
    </form>
    <!-- Submission Message -->
    <div id="submission_message"></div>

    <!-- Results -->
     <div id="result_container"></div>

    <!-- Scripts -->
    <script src="../static/slider.js"></script>
    <script src="../static/post.js"></script>
</body>
</html>