<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Classifier</title>
    <link rel="stylesheet" href="../static/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>PersonaCheck</h1>
        <h3>(A Personality Classifier)</h3>
    </header>
    <div class="form-cn">
        <form id="PersonalityForm" class="my-form">
            <div class="slider-container">
                <label for="aloneTime">What amount of time do you spent alone in a day?</label>
                <br>
                <input type="range" class="slider" min="0" max="24" id="aloneTime" value="4">
                <output id="outputaloneTime" for="aloneTime" class="sliderOutput">4</output>
            </div>
            <div class="slider-container">
                <label for="spentOutside">What amount of time do you spent outside in a day?</label>
                <br>
                <input type="range" class="slider" min="0" max="24" id="spentOutside" value="2">
                <output id="outputspentOutside" for="spentOutside" class="sliderOutput">2</output>
            </div>
            <div class="slider-container">
                <label for="socialAttendance">How likely are you to attend social events?</label>
                <br>
                <input type="range" class="slider" min="0" max="10" id="socialAttendance" value="5">
                <output id="outputsocialAttendance" for="socialAttendance" class="sliderOutput">5</output>
            </div>
            <div class="slider-container">
                <label for="closeFriends">How many close friends do you have?</label>
                <br>
                <input type="range" class="slider" min="0" max="25" id="closeFriends" value="5">
                <output id="outputcloseFriends" for="closeFriends" class="sliderOutput">5</output>
            </div>
            <div class="slider-container">
                <label for="posts">How often do you post on social media?</label>
                <br>
                <input type="range" class="slider" min="0" max="10" id="posts" value="2">
                <output id="outputposts" for="posts" class="sliderOutput">2</output>
            </div>
            <div class="radio-container">
                <label>Do you often struggle with stage fear?</label>
                <br>
                <input type="radio" id="stage_fear_yes" name="Stage_fear" value="yes" class="radio-btn" required>
                <label for="stage_fear_yes" class="radio-option">Yes</label>
                <input type="radio" id="stage_fear_no" name="Stage_fear" value="no" class="radio-btn" required>
                <label for="stage_fear_no" class="radio-option">No</label>
            </div>
            <div class="radio-container">
                <label>Do you often feel drained after socializing?</label>
                <br>
                <input type="radio" id="drained_after_socializing_yes" name="Drained_after_socializing" value="yes" class="radio-btn" required>
                <label for="drained_after_socializing_yes" class="radio-option">Yes</label>
                <input type="radio" id="drained_after_socializing_no" name="Drained_after_socializing" value="no" class="radio-btn" required>
                <label for="drained_after_socializing_no" class="radio-option">No</label>
            </div>

            <input type="submit" class="submit-btn">
        </form>
        
        <div class="info-box">
            <h2>🔍 How This Works</h2>
            <p><strong>Model:</strong> Gaussian Naive Bayes</p>
            <p>This model predicts personality traits based on behavioral inputs using probability theory and Gaussian distributions.</p>

            <p><strong>Accuracy: </strong>92.1%</p>
            <a href="https://www.kaggle.com/datasets/rakeshkapilavai/extrovert-vs-introvert-behavior-data" target="_blank">(Trained on Kaggle Dataset)</a>
            <img src="../static/info.webp" class="info-img">
        </div>
    </div>
    <!-- Submission Message -->
    <div id="submission_message"></div>

    <!-- Results -->
     <div id="result_container"></div>

    <!-- Scripts -->
    <script src="../static/slider.js"></script>
    <script src="../static/post.js"></script>
</body>
</html>